extends ../glayout

block head
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization')
  script(src='/js/gmap.js')
  
block content
  article.result
    #map
    footer
      .container
        .row-fluid
          .span6
            h1(data-question-id=question.id)= question.value
          .span6
            ul.unstyled
              if typeof answers !== 'undefined' && answers != ''
                li
                  strong= 'Yes: '+yesWidth+'% / No: '+noWidth+'%'
                if answers.length == 1
                  li= answers.length + ' person answered this question'
                else
                  li= answers.length + ' people answered this question'
              else
                li 
                  strong= 'No votes have been collected'
                li= 'Check back soon'
