extends ../layout

block content
  .container
    .page-header
      .row-fluid
        .span12
          h1= question.value
    .row-fluid
      .span8
        p= "So you've asked a question. Now what?"
        ol
          li
            = "Save this link to get back to this page later: "
            a(href="http://voteinpublic.com/questions/#{question.id}")
              | http://voteinpublic.com/questions/#{question.id}
          li= "Click the 'Create Poster' button to generate a poster. It will create a PDF that you can save."
          li= "Print copies of your poster and place them around town. Remember to only post them where permitted."
          li= "Click the 'View Results' button to see how people answered your question."
        form(action='/poster/#{question.id}', method='post')
          .form-actions
            button(class='btn btn-large btn-primary')
              = "Create Poster"
            = "&nbsp;"
            a(href="/results/#{question.id}", class="btn btn-large")
              = "View Results"
